@use './../../shared.scss' as s;

.navbar {
  @include s.containerPadding;

  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: var(--primary-gray-dark);
  @include s.transition(background-color);

  @media screen and (max-width: 1000px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width: 750px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width: 400px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &--transparent {
    @extend .navbar;
    background-color: transparent;
  }

  &__left {
    width: auto;

    @media screen and (max-width: 750px) {
      width: 100%;
    }
  }

  &__right {
    width: auto;
    &-link {
      &:link,
      &:visited {
        font-weight: 300;
        color: var(--general-white);
        font-size: 1.8rem;
        text-decoration: none;
        @include s.transition(color);
        &:not(:first-child) {
          margin-left: 4rem;
        }
      }
      &:hover {
        color: white;
      }
    }
  }

  &__hamburger {
    &-icon {
      width: 3.5rem;

      @media screen and (max-width: 470px) {
        width: 3rem;
      }
    }
  }
}

.menu-wrap,
.burger-menu,
.menu {
  background-color: var(--primary-white);
}

.bm-item {
  background-color: transparent;
  @include s.sectionSubtitle;
}

.close {
  span {
    svg {
      color: var(--primary-gray-dark);
    }
  }
}
